.background {
  background: url("./assets/hearts-gif.gif");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.text {
  right: 0;
  left: 0;
  text-align: center;
  color: red;
  font-size: 32px;
  font-weight: 700;
}
